
.nav_container{
 border: 1px solid green;
 background-color: #008080;
 display: flex;
 justify-content: space-evenly;
}

.nav_logo{
  width: 20%;
  /* border:1px solid red; */
}

.redCo{
  color: red;
}

.nav_links{
  width: 70%;
  border:1px solid green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link{
  text-decoration: none;
  color: white;
}